.subtitle {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.movieContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 30px;
}

.movie{
  width: 145px;
  height: 210px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie:hover{
  filter: brightness(0.8)
}

.movie > img{
  width: 130px;
  height: 193px;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 42px;
  font-weight: 700;
}

.loading img{
  width: 400px;
  height: 400px;
}