header {
  width: 100%;
  height: 67px;
  background-color: #C3CFD9;
  font-size: 34px;
  color: #E8833A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

header > ion-icon{
  font-size: 48px;
  position: absolute;
  top: calc(50% - 24px);
  left: 20px;
}

header > ion-icon:hover{
  cursor: pointer;
  filter: brightness(0.8);
}