.sessions{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.session{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 20px;
  margin-bottom: 30px;
}

.schedule{
  display: flex;
}

.timeSession{
  width: 85px;
  height: 45px;
  background-color: #E8833A;
  border-radius: 3px;
  font-size: 18px;
  color: #FFFFFF;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}