
.seats{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.seatMaps{
  width: 100%;
  max-width: 325px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.seat{
  width: 26px;
  height: 26px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C3CFD9;
  border: 1px solid #808F9D;
  font-size: 11px;
  margin: 0 3px 20px 3px;
}

.seatsSubtitle{
  width: 100%;
  max-width: 325px;
  display: flex;
  justify-content: space-evenly;
}

.option{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.option > .seat{
  margin: 0
}

.option > span{
  font-size: 13px;
}

.selected{
  background-color: #8dd7cf;
  border: 1px solid #1aae9e;
}

.unavailable{
  background-color: #FBE192;
  border: 1px solid #F7C52B;
}

