footer{
  width: 100%;
  height: 117px;
  background-color: #DFE6ED;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 26px;
  border-top: 1px solid #9EADBA;
}

footer > .movieIcon{
  width: 64px;
  height: 89px;
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.movieIcon > img{
  width: 48px;
  height: 72px;
}

